@model ICollection<NET8ASP.Models.Domain.Car>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена</th>
            <th scope="col">Категория</th>
            <th scope="col">Изображение</th>
            <th scope="col">Редактирование</th>
            <th scope="col">Удаление</th>
        </tr>
    </thead>
    @{
        int i = 1;
        foreach (var car in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@Html.Raw(i++)</th>
                    <th scope="row">@car.Name</th>
                    <th>@car.Description</th>
                    <th>@car.Price</th>
                    <th>@car.Category.Name</th>
                    <th><img style="height:50px;" src="@car.Image" /></th>
                    <th><button class="btn btn-primary" onclick="location.href=('@Url.Action("EditCar", "Car", new {carId = car.Id})')"/>Редактировать</th>
                    <td>
                        @Html.ActionLink("Удалить", "DeleteCar", "Car", new { carId = car.Id },
                             new { onclick = "return confirm('Вы уверены, что хотите удалить товар?')", @class = "btn btn-danger" })
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
