@model NET8ASP.Models.ViewModels.ProductViewModel

<div class="container">
    <form method="get" asp-action="ProductList" class="mb-4">
        <div class="input-group">
            <input type="text" name="searchQuery" class="form-control" placeholder="Поиск товаров..." value="@ViewData["SearchQuery"]" />
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">Категория</th>
                <th scope="col">Изображение</th>
                <th scope="col">Редактирование</th>
                <th scope="col">Удаление</th>
            </tr>
        </thead>
        @{

            @if (!Model.Products.Any())
            {
                <p class="text-center text-muted">Ничего не найдено по вашему запросу.</p>
            }
            else
            {
                int i = 1;
                foreach (var product in Model.Products)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@Html.Raw(i++)</th>
                            <th scope="row">@product.Name</th>
                            <th>@product.Amount</th>
                            <th>@product.Price</th>
                            <th>@product.Category.Name</th>
                            <th><img style="height:50px;" src="@product.Image" /></th>
                            <th><button class="btn btn-primary" onclick="location.href=('@Url.Action("EditProduct", "Product", new {productId = product.Id})')" />Редактировать</th>
                            <td>
                                <form asp-action="DeleteProduct" asp-controller="Product" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить товар?')">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                }
            }
        }
    </table>
</div>

